::ng-deep app-data-sets .p-button-text {
    margin: 0.1rem !important;
}

.active-data-set {
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.file-drop-area {
  border: 2px dashed var(--p-surface-400);
  border-radius: 6px;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}

.file-drop-area.file-dragover {
  border: 2px dashed var(--p-primary-hover-color);
  border-radius: 6px;
  background-color: var(--p-surface-100);
  transition: background-color 0.2s;
}

.selected-file {
  display: flex;
  gap: 0.5rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}