@import "tailwindcss";

body {
    background: linear-gradient(200deg, #fff0e1 0%, #fcdada 35%, #c0ceff 72%) !important;
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-card-body {
  padding: 1.5rem !important;
}

.p-toast-message-success {
  backdrop-filter: blur(14px) !important;
  background: color-mix(in srgb,var(--p-green-500),transparent 84%) !important;
}

.p-toast-message-error {
  backdrop-filter: blur(14px) !important;
  background: color-mix(in srgb,var(--p-red-500),transparent 84%) !important;
}

.full-width-btn {
  display: block;
  width: 100%;

  button {
    width: 100%;
  }
}

:root {
  --p-button-secondary-background: var(--p-surface-400) !important;
  --p-button-secondary-color: var(--p-button-primary-color) !important;
  --p-button-secondary-border: var(--p-surface-400) !important;

  --p-button-secondary-hover-background: var(--p-surface-500) !important;
  --p-button-secondary-hover-color: var(--p-button-primary-color) !important;
  --p-button-secondary-hover-border: var(--p-surface-500) !important;

  --p-button-secondary-active-background: var(--p-surface-600) !important;
  --p-button-secondary-active-color: var(--p-button-primary-color) !important;
  --p-button-secondary-active-border: var(--p-surface-600) !important;
}

.title {
  font-size: 19px;
  text-align: center;
  word-break: break-word;
  margin-bottom: 1.75vh;
}

.p-card-title {
  text-align: center;
  font-size: 18px !important;
  margin-bottom: 1rem;
}

.p-tablist-active-bar {
  width: 50% !important;
}

.p-password-input {
    width: 100%;
}

.p-message {
  margin-left: 2px;
  margin-right: 2px;
}

.p-progressspinner {
  display: flex !important;
}

.p-password.p-invalid input {
  border-color: var(--p-inputtext-invalid-border-color);
}

input.p-inputtext.p-invalid:hover {
  border-color: var(--p-inputtext-invalid-border-color) !important;
}

.p-password.p-invalid input:hover {
  border-color: var(--p-inputtext-invalid-border-color) !important;
}

input.p-inputtext.p-invalid:focus {
  border-color: var(--p-inputtext-invalid-border-color) !important;
}

.p-password.p-invalid input:focus {
  border-color: var(--p-inputtext-invalid-border-color) !important;
}

.p-floatlabel:has(input.p-invalid) > label,
.p-floatlabel:has(.p-password.p-invalid input) > label {
  color: var(--p-floatlabel-invalid-color) !important;
}

.p-toggleswitch-slider {
  background: var(--p-surface-400) !important;
}

.p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover) .p-toggleswitch-slider {
  background: var(--p-surface-500) !important;
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
  background: var(--p-toggleswitch-checked-background) !important;
}

.p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover).p-toggleswitch-checked .p-toggleswitch-slider {
  background: var(--p-toggleswitch-checked-hover-background) !important;
}

.p-step {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-step:first-child {
  padding-left: 0 !important
}

.p-step:last-child {
  padding-right: 0 !important
}

.p-stepper-separator {
  background: var(--p-surface-400) !important;
}

.p-step:has(~ .p-step-active) .p-stepper-separator {
  background: var(--p-button-primary-background) !important;
}

.step-active {
  background-color: var(--p-button-primary-background);
  color: var(--p-button-primary-color);
  border-color: var(--p-button-primary-background);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.step-active:hover {
  background-color: var(--p-button-primary-hover-background);
  color: var(--p-button-primary-hover-color);
  border-color: var(--p-button-primary-hover-background);
  cursor: pointer;
}

.step-active:active {
  background-color: var(--p-button-primary-active-background);
  color: var(--p-button-primary-active-color);
  border-color: var(--p-button-primary-active-background);
}

.step-inactive {
  background-color: var(--p-surface-400);
  color: var(--p-button-primary-color);
  border-color: var(--p-surface-400);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.step-inactive:hover {
  background-color: var(--p-surface-500);
  color: var(--p-button-primary-color);
  border-color: var(--p-surface-500);
  cursor: pointer;
}

.step-inactive:active {
  background-color: var(--p-surface-600);
  color: var(--p-button-primary-color);
  border-color: var(--p-surface-600);
}

.p-datatable-mask {
  backdrop-filter: blur(4px);
  border-radius: var(--p-card-border-radius);
}

.empty-data {
  text-align: center !important;
  padding: 1.5rem !important;
}